p {
  margin: 0px;
}

.div-weight-input {
  margin-bottom: 15px;
}

.div-reps-input {
  margin-bottom: 15px;
}

.div-rir-input {
  margin-bottom: 15px;
}

.rir-text {
  margin-bottom: 3px;
}

.div-save-clear-button {
  margin-bottom: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 185px;
  border-bottom: 1px solid black;
}

.sets-table {
  display: flex;
  justify-content: space-between;
  width: 185px;
}