.each-exercise-and-sets {
  border-style: solid;
  border-width: 1px;
  width: 230px;
  margin-bottom: 10px;
  padding: 5px;
}

.sets-reps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}